body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body>img{
    /*object-fit: cover;*/
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
.form{
    /*margin-top: 400px;*/
    /*position: relative;*/
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: black;
    border-radius: 10px;
    opacity: 0.8;
}
form.row{
    margin-top: 20px;
}
.form h1{
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
    color:white;
}
.form form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txtfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    color: white;
    outline:none;
}
.txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txtfield span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: .5s;
}
.txtfield input:focus ~ label,
.txtfield input:valid ~ label{
    top: -5px;
    color: white;
}
.txtfield input:focus ~ span::before,
.txtfield input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.selectors{
    position: absolute;
    margin-left: 5px;
    margin-bottom: 20px;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
select{
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,2);
    font-size: 16px;
    padding: 10px;
    background: white;
    color: black;
}
input[type="submit"]{
    margin-top: 30px;
    width: 50%;
    height: 50px;
    bottom: 1px;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline:none;
    margin-left: 80px;
}
input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}
.signuplink{
    margin: 30px 0;
    margin-bottom:10px ;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 0 10px;
}
.signuplink a{
    color:#2691d9;
    text-decoration: none;
}
.signuplink a:hover{
    text-decoration: underline;
}


